[Unit]
Description=NAT Service for AWS
After=network-online.target
 
[Service]
Type=simple
ExecStart=/usr/local/bin/nat-setup start >> /tmp/nat-setup-start
ExecStop=/usr/local/bin/nat-setup stop >> /tmp/nat-setup-stop
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=multi-user.target